{% extends "base.html" %}
{% load static %}

{% block navitems %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li><a href="/" class="nav-link px-2">Übersicht</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="yearlyDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">Jahresübersich</a>
        <ul class="dropdown-menu" aria-labelledby="yearlyDropdown">
            {% for year in years_with_entries %}
            <li><a class="dropdown-item" href="/summary/year/{{ year }}/">{{ year }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
<form class="d-flex" action="{% url 'logout' %}">
    <button class="btn btn-outline-dark me-2">Logout</a>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/offcanvas.js' %}"></script>
{% endblock %}
