{% extends "bookkeeping/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
<link href="{% static 'css/book.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Buchungen{% endblock %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<section class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Filter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-controls="filterForm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="bi bi-funnel"></span>
        </button>
        <div class="collapse navbar-collapse" id="filterForm">
            <form class="row gap-2 w-100 align-items-center" method="get">
                <div class="form-floating p-0 ms-2 col-lg-3">
                    {% render_field search_form.term class="form-control" %}
                    <label for="{{ search_form.term.name }}">{{ search_form.term.label }}</label>
                </div>
                <div class="form-floating p-0 ms-2 col-lg-3">
                    {% render_field search_form.from_date class="form-control" placeholder=search_form.from_date.label type='date' %}
                    <label for="{{ search_form.from_date.name }}">{{ search_form.from_date.label }}</label>
                </div>
                <div class="form-floating p-0 ms-2 col-lg-3">
                    {% render_field search_form.to_date class="form-control" placeholder=search_form.to_date.label type='date' %}
                    <label for="{{ search_form.to_date.name }}">{{ search_form.to_date.label }}</label>
                </div>
                <div class="btn-group col-lg-2 mx-2" role="group" >
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i>Suchen</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% if object_list %}
<table class="table">
    <thead>
        <tr >
            <th>Datum</th>
            <th>Shop</th>
            <th class="text-end">Betrag</th>
        </tr>
    </thead>
    {% regroup object_list by booking_month as month_objects %}
    {% for month in month_objects %}
        <tr class="table-dark">
            <th colspan="3" class="text-end">{{ month.grouper | date:'F Y' }}</th>
        </tr>
        {% for entry in month.list %}
        <tr role="button" {% if entry.is_booked_in_future %}class="disabled"{% endif %} onclick="window.location='{% url 'entry-update' entry.id %}'">
            <td>{{ entry.booking_date | date:'d.F' }}</td>
            <td class="fw-bolder">{{ entry.shop|truncatechars:20 }}</td>
            {% if entry.type == 'EX' %}
            <td class="font-monospace text-danger text-end">-{{ entry.amount }}{{ entry.currency }}</td>
            {% else %}
            <td class="font-monospace text-success text-end">{{ entry.amount }}{{ entry.currency }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>

{% if page_obj.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.prev_page_number}}">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Zurück</span>
        </a>
    </li>
    {% endif %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Seite {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% url 'entry-list' %}?page={{page_obj.next_page_number}}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Weiter</span>
        </a>
    </li>
    {% endif %}
    </ul>
</nav>
{% else %}
<p class="text-muted text-center"><em>Keine weiteren Einträge</em></p>
{% endif %}

{% else %}
<p class="lead text-muted text-center mt-5">Keine Einträge vorhanden</p>
{% endif %}


<a class="btn btn-primary floating-action-button" href="{% url 'entry-add' %}" role="button">
    <i class="bi bi-plus"></i>
</a>
{% endblock %}
