tr.disabled {
    --bs-text-opacity: 0.3;
    color: rgba(var(--bs-body-color-rgb), .3) !important;
}

tr.disabled td.text-danger {
    color: rgba(var(--bs-danger-rgb), .3) !important;
}


div.floating-action-menu>.action-menu {
    visibility: hidden;
    transform: translateY(65px);
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: all 300ms linear;
}

div.floating-action-menu.active>.action-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    padding-bottom: 5px;
    max-height: 1000px;
}

div.floating-action-menu .btn-floating {
    line-height: 2.25rem;
}

div.floating-action-menu>.action-menu .btn-floating,
div.floating-action-menu>.action-menu .badge {
    transform: scale(0.4);
    transition: all 500ms ease-in-out;
}

div.floating-action-menu.active>.action-menu .btn-floating,
div.floating-action-menu.active>.action-menu .badge {
    transform: scale(1);
}

div.floating-action-menu>.action-button>.btn-floating {
    transition: all 500ms linear;
}

div.floating-action-menu>.action-button>.btn-floating>i {
    transition: transform 500ms ease-in-out;
}

div.floating-action-menu.active>.action-button>.btn-floating>i {
    transform: rotate(-45deg);
}

.month-summary small {
    font-size: 0.8rem;
}
