{% load static %}


<div class="container">
    <nav class="navbar navbar-expand-md fixed-top border-bottom" aria-label="Main navigation">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img class="my-2" src="{% static 'assets/logo.png' %}" alt="BookKeeper" width="32" height="32">
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li><a href="#" class="nav-link px-2">Übersicht</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Jahresübersich</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">2022</a></li>
                            <li><a class="dropdown-item" href="#">2021</a></li>
                            <li><a class="dropdown-item" href="#">2020</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="{% url 'logout' %}">
                    <button class="btn btn-outline-dark me-2">Logout</a>
                </form>
            </div>
        </div>
    </nav>


    <!--
    <header class="py-3 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md" aria-label="Main navigation">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="mb-4" src="{% static 'assets/logo.png' %}" alt="BookKeeper" width="32" height="32">
            </a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Navigation ein-/ausblenden">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse" id="navbar">
                <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Übersicht</a></li>
                    <li>
                        <a href="#" class="nav-link px-2 link-secondary dropdown-toggle" id="dropdownYears"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            Jahreszusammenfassung
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownYears"
                            data-popper-placement="bottom-end">
                            <li><a class="dropdown-item" href="#">2022</a></li>
                            <li><a class="dropdown-item" href="#">2021</a></li>
                            <li><a class="dropdown-item" href="#">2020</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    -->
</div>
{% block extra_scripts %}
<script src="{% static 'js/offcanvas.js' %}"></script>
{% endblock %}
